@font-face {
  font-family: "TrajanFont";
  src: url("../fonts/TrajanPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pacioli";
  src: url("../fonts/LucaPacioliCaps.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@layer base {
  .font-trajan {
    font-family: "TrajanFont", sans-serif;
  }
  .font-pacioli {
    font-family: "Pacioli", sans-serif;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-trajan;
}

/* global.css */
html {
  scroll-behavior: smooth;
}

.image-slide {
  @apply absolute inset-0 opacity-0;
}
