---
import { Picture } from "astro:assets"
import image01 from "../images/sta_02.jpg"
import image02 from "../images/civ_01.jpg"
import image03 from "../images/res_07.jpg"

import HeroBanner from "../components/homepage/HeroBanner.astro"
import Welcome from "../components/Welcome.astro"
import Layout from "../components/layout/Layout.astro"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title="Eternal Concepts by Philip J. Rhea"
  description="Architecture, Remodeling, Elevation and Renderings by Philip J. Rhea"
>
  <HeroBanner />
  <section
    class="bg-stone-100 text-stone-700 min-h-screen flex justify-center items-center relative"
  >
    <div class="absolute inset-0 overflow-hidden flex items-center">
      <p class="font-pacioli text-[110vh] -translate-x-1/8 text-stone-200">p</p>
    </div>
    <div class="w-11/12 m-auto max-w-[1366px] flex flex-col py-20 z-1">
      <h2 class="text-2xl lg:text-4xl">Past Projects</h2>
      <p>description about past projects</p>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 mt-10 gap-10">
        <div class="flex flex-col">
          <Picture
            src={image01}
            formats={["avif", "webp"]}
            alt="portolio"
            loading={"lazy"}
            class="w-full h-full object-cover rounded-xl aspect-video lg:aspect-square border border-stone-400"
          />
          <h3 class="text-xl lg:text-2xl pt-4">Civic Designs</h3>
          <p>description about civic architecture (what is it?)</p>
        </div>
        <div class="flex flex-col">
          <Picture
            src={image02}
            formats={["avif", "webp"]}
            alt="portolio"
            loading={"lazy"}
            class="w-full h-full object-cover rounded-xl aspect-video lg:aspect-square border border-stone-400"
          />
          <h3 class="text-xl lg:text-2xl pt-4">Religious Designs</h3>
          <p>description about religious architecture (what is it?)</p>
        </div>
        <div class="flex flex-col">
          <Picture
            src={image03}
            formats={["avif", "webp"]}
            alt="portolio"
            loading={"lazy"}
            class="w-full h-full object-cover rounded-xl aspect-video lg:aspect-square border border-stone-400"
          />
          <h3 class="text-xl lg:text-2xl pt-4">Residential Designs</h3>
          <p>
            description about residential architecture (what is it?)
            <br />
            askjdasjkdhasd sad asd asd asd asd asdasd asdas dasd asd asda sdasdas
            dasd asd asdasd asd asd asd asd asda sdasd asd asd asd asd asdasd asdas
            dasd asd asda sdasdas dasd asd asdasd asd asd asd asd asda sdasd
          </p>
        </div>
        <div class="flex flex-col">
          <Picture
            src={image02}
            formats={["avif", "webp"]}
            alt="portolio"
            loading={"lazy"}
            class="w-full h-full object-cover rounded-xl aspect-video lg:aspect-square border border-stone-400"
          />
          <h3 class="text-xl lg:text-2xl pt-4">Institutional Designs</h3>
          <p>description about Institutional architecture (what is it?)</p>
        </div>
      </div>
    </div>
  </section>
  <button
    class="bg-blue-500 text-white p-2 rounded duration-200"
    data-state="on"
    onclick="changeState(this)">Click Me</button
  >

  <button
    class="bg-blue-500 text-white p-2 rounded duration-200"
    data-state="on"
    onclick="changeState(this)">Click Me 2</button
  >

  <button
    class="bg-blue-500 text-white p-2 rounded duration-200"
    data-state="on"
    onclick="changeState(this)">Click Me 3</button
  >
  <script is:inline>
    function changeState(button) {
      const state = button.getAttribute("data-state")
      button.setAttribute("data-state", state === "on" ? "off" : "on")
      button.innerHTML = state === "on" ? "Turn Off" : "Turn On"
      button.classList.toggle("bg-blue-500")
      button.classList.toggle("bg-red-500")
    }
  </script>
</Layout>
