---
import astroLogo from "../assets/astro.svg"
import background from "../assets/background.svg"
import "../styles/global.css"
---

<div id="container">
  <img id="background" src={background.src} alt="" fetchpriority="high" />
  <main>
    <section class="bg-red-600" id="hero">dsdsd</section>
  </main>
</div>
